
[submodule "third-party/Hierarchical-Localization"]
	path = third-party/Hierarchical-Localization
	url = https://github.com/cvg/Hierarchical-Localization
[submodule "third-party/pytlsd"]
	path = third-party/pytlsd
	url = https://github.com/iago-suarez/pytlsd.git
[submodule "third-party/pytlbd"]
	path = third-party/pytlbd
	url = https://github.com/iago-suarez/pytlbd.git
[submodule "third-party/hawp"]
	path = third-party/hawp
	url = https://github.com/cherubicXN/hawp.git
[submodule "third-party/TP-LSD"]
	path = third-party/TP-LSD
	url = https://github.com/rpautrat/TP-LSD.git
[submodule "third-party/DeepLSD"]
	path = third-party/DeepLSD
	url = https://github.com/cvg/DeepLSD.git
[submodule "third-party/GlueStick"]
	path = third-party/GlueStick
	url = https://github.com/cvg/GlueStick.git
